body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    background-color: #cfecff;
    max-width: 1700px;
}

#title-logo{
    padding-top: 10px;
    width: 40vh;
}

hr {
    border: 0;
    height: 1px; /* Altura de la línea */
    background: linear-gradient(to right, transparent, blue, transparent); /* Efecto de desvanecimiento */
    width: 100%; /* Ancho completo */
}

/* ------------------------------------------------------------------------------------------------------ */
#type-checkboxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(183px, 1fr)); /* Ajusta el ancho mínimo */
    gap: 20px;
    max-width: 1200px; /* Limita el ancho total */
    margin: 0 auto;
    padding: 10px;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espacio entre la imagen y el texto */
    min-width: 50px; /* Asegura suficiente espacio para la imagen y el texto */
    padding: 0px;
    background-color: #ffde5a;
    border: solid 1px blue;
    border-radius: 10px;
    cursor: pointer;
}

.type img {
    width: 32px; /* Ajusta el tamaño del ícono */
    height: auto;
}

.hidden-checkbox {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------ */
#main-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    /* display:flex;
    justify-content: center; */
    width: 200px;
    background-color: #ffcb05;
    border-radius: 10px;
    padding: 10px;
    /* box-sizing: border-box; */
    text-align: center;
    border: 2px solid blue;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
}

.num{
    margin: 0;
    text-align: start;
}

.name{
    align-self: center;
    margin: 0;
    /* font-size: large; */
}

.pagination {
    margin: 0px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
