body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #cfecff;
    max-width: 1700px;
}

#title-logo{
    padding-top: 10px;
    width: 40vh;
}

hr {
    border: 0;
    height: 1px; /* Altura de la línea */
    background: linear-gradient(to right, transparent, blue, transparent); /* Efecto de desvanecimiento */
    width: 100%; /* Ancho completo */
}

/* ------------------------------------------------------------------------------------------------------ */
#type-checkboxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(183px, 1fr)); /* Ajusta el ancho mínimo */
    gap: 20px;
    max-width: 1200px; /* Limita el ancho total */
    margin: 0 auto;
    padding: 10px;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espacio entre la imagen y el texto */
    min-width: 50px; /* Asegura suficiente espacio para la imagen y el texto */
    padding: 0px;
    background-color: #ffde5a;
    border: solid 1px blue;
    border-radius: 10px;
    cursor: pointer;
}

.type img {
    width: 32px; /* Ajusta el tamaño del ícono */
    height: auto;
}

.hidden-checkbox {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------ */
#main-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    /* width: 90%;
    margin: auto; */
}

.card {
    /* display:flex;
    justify-content: center; */
    width: 200px;
    background-color: #ffcb05;
    border-radius: 10px;
    padding: 10px;
    /* box-sizing: border-box; */
    text-align: center;
    border: 2px solid blue;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    image-rendering: pixelated;
}

/* .card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transform: scale(1.9); 
} */

.pokemon-image {
    width: auto;
    height: 96px;
    object-fit: cover; 
}


.num{
    margin: 0;
    text-align: start;
}

.name{
    align-self: center;
    margin: 0;
    /* font-size: large; */
}

.pagination {
    margin: 0px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
/* ------------------------------------------------------------------------------------------------------ */

.search-container {
    position: relative;
    display: inline-block;
}

#search {
    width: 300px;
    padding: 10px 40px 10px 15px; /* Ajustamos padding para dar espacio a la Pokéball */
    border: 3px solid #3c5aa6;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

#search:focus {
    border-color: #ffcb05;
    box-shadow: 0px 0px 10px rgba(255, 203, 5, 0.8);
}

.pokeball {
    position: absolute;
    right: 50px; /* Para dejar espacio para la cruz */
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    pointer-events: none; /* Evita que la imagen interfiera con la escritura */
}

/* Estilos para el botón de la cruz */
.clear-btn {
    position: absolute;
    right: 0px; /* Ajustamos la posición a la derecha */
    top: 50%;
    transform: translateY(-55%);
    font-size: 48px;
    color: #3c5aa6;
    background: none;
    border: none;
    cursor: pointer;
}

.clear-btn:hover {
    color: #ffcb05;
}

/* suggestions--------------------------------------------------------------------------------------- */
/* Establecer el max-height y el desbordamiento en el menú de autocompletado */
.ui-autocomplete {
    max-height: 175px; /* Ajusta el valor según lo necesites */
    overflow-y: auto;  /* Agrega una barra de desplazamiento si el contenido excede la altura máxima */
    overflow-x:hidden;
}

.num {
    display: flex;
    justify-content: space-between; /* Esto los separa */
    align-items: center;
    margin: 0;
    padding: 0 4px;
}

.poke-id {
    align-self: flex-end;
}

.type-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
}

.type-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}




/* RESPONSIVE-------------------------------------------------------------------------------------- */
 /* Haciendo el semáforo responsive con media queries */
 @media (max-width: 1024px) {
    /* body{
        background-color: rgb(255, 255, 179)
    } */

    #title-logo {
        width: 35vh;
    }
    
    #search{
        padding: 5px 40px 5px 15px;
    }

    .clear-btn {
        transform: translateY(-57%);
        font-size: 38px;
    }
    #type-checkboxes{
        grid-template-columns: repeat(auto-fit, minmax(112px, 1fr)); /* Ajusta el ancho mínimo */
    }
    .type {
        gap: 6px;
    }
}
@media (max-width: 425px) {
    /* body{
        background-color: rgb(255, 182, 182);
    } */

    #title-logo {
        width: 30vh;
    }

    #search {
        width: 250px;
    }
    #type-checkboxes{
        grid-template-columns: repeat(auto-fit, minmax(94px, 1fr)); /* Ajusta el ancho mínimo */
        font-size: smaller;
    }
}


@media (max-width: 372px) {
    /* body{
        background-color: rgb(255, 108, 108);
    } */

    #search {
        width: 221px;
    }

    #type-checkboxes{
        grid-template-columns: repeat(auto-fit, minmax(54px, 1fr)); /* Ajusta el ancho mínimo */
    }

    label span{
        display: none;
    }
}